---
---

body {
    background-color: #e5f0ff;
}

.current {
    color: #1a3819;
}

a {
    text-decoration-line: underline;
    color: rgb(37 99 235);
}

a:hover {
    color: rgb(30 64 175);
}

a:visited {
    color: rgb(147 51 234);
}

body {
    padding: 5px;
}