---
---

body {
    background-color: #e5f0ff;
}

.current {
    color: #1a3819;
}

a {
    text-decoration-line: underline;
    color: #2563eb;
}

a:hover {
    color: #1e40af;
}

a:visited {
    color: #9333ea;
}

body {
    padding: 5px;
}