---
layout: post
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  </head>
  <body>
    <nav>
      {% for item in site.data.navigation %}
        <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
      {% endfor %}
    </nav>

    <h1 class="title">{{ page.title }}</h1>
    <p class="author">by {{ page.author }}</p> <p class="date">{{ page.date | date_to_string }}</p>

    {{ content }}
  </body>
</html>